streamlit==0.86.0
librosa==0.8.1
numpy==1.19.5
matplotlib==3.3.4
tensorflow==2.4.0
scikit-learn==0.22.2.post1
pydub==0.25.1
ffmpeg

# If you have installed other versions, it may still run. But this is what i have and its working. 
